{% extends 'root.html' %}
{% block title %}Возврат{% endblock %}
{% block content %}
    <form class="form-horizontal no-margin" method="POST">
    <div class="row-fluid">
        <div class="span6">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">
                        Возврат
                    </div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
                </div>
                <div class="widget-body">
                    {% csrf_token %}
                    {{ form_return.errors }}
                    <div class="control-group">
                        <label class="control-label" for="name">
                            Дата
                        </label>
                        <div class="controls controls-row">
                            {{ form_return.date }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="name">
                            Комментарий
                        </label>
                        <div class="controls controls-row">
                            {{ form_return.comment }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">
                        Приемка № {{ acceptance.id }}
                    </div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="stylish-lists">
                        <dl class="dl-horizontal no-margin">
                            <dt class="text-info">
                                Дата
                            </dt>
                            <dd>
                                {{ acceptance.date|date:'Y-m-d' }}
                            </dd>
                            <dt class="text-info">
                                Закупщик
                            </dt>
                            <dd>
                                {{ acceptance.purchase.purchaser }}
                            </dd>
                            <dt class="text-info">
                                Склад
                            </dt>
                            <dd>
                                {{ acceptance.purchase.warehouse }}
                            </dd>
                            <dt class="text-info">
                                Контрагент
                            </dt>
                            <dd>
                                {{ acceptance.purchase.supplier }}
                            </dd>
                            <dt class="text-info">
                                Выдано
                            </dt>
                            <dd>
                                {{ acceptance.purchase.issued }}
                            </dd>
                            <dt class="text-info">
                                Расходы
                            </dt>
                            <dd>
                                {{ acceptance.costs }}
                            </dd>
                            <dt class="text-info">
                                В кассу
                            </dt>
                            <dd>
                                {{ acceptance.cash }}
                            </dd>
                            <dt class="text-info">
                                Комментарий
                            </dt>
                            <dd>
                                {{ acceptance.comment }}
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">
                        Товары
                    </div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
                </div>
                <div class="widget-body">
                    {{ form_products.management_form }}
                    {% for dict in form_products.errors %}
                        {% for error in dict.values %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                        <thead>
                        <tr>
                            <th style="width:5%">
                            </th>
                            <th style="width:15%">
                                Товар
                            </th>
                            <th style="width:15%" class="hidden-phone">
                                Ед. изм
                            </th>
                            <th style="width:15%" class="hidden-phone">

                            </th>
                            <th style="width:15%" class="hidden-phone">
                                Количество
                            </th>
                            <th style="width:10%" class="hidden-phone">
                                Цена
                            </th>
                            <th style="width:25%" class="hidden-phone">
                                Сумма
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td rowspan="2">{{ forloop.counter }}</td>
                                <td class="hidden-phone" rowspan="2">{{ product.0.product }}</td>
                                <td rowspan="2"><span class="name">{{ product.0.product.measure_unit }}</span></td>
                                <td class="hidden-phone">Приемка</td>
                                <td class="hidden-phone" id="acceptance_amount_{{ forloop.counter0 }}">{{ product.0.purchase_amount }}</td>
                                <td class="hidden-phone">{{ product.0.purchase_price }}</td>
                                <td class="hidden-phone" id="purchase_sum_{{ forloop.counter0 }}">{{ product.2 }}</td>
                            </tr>
                            <tr>
                                <td class="hidden-phone">Возврат</td>
                                {{ product.1.id }}
                                <td class="hidden-phone">{{ product.1.return_amount }}</td>
                                <td class="hidden-phone" id="acceptance_price_{{ forloop.counter0 }}">{{ product.0.acceptance_price }}</td>
                                <td class="hidden-phone" id="total_product-{{ forloop.counter0 }}"></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Итого</strong></td>
                            <td><span id="total"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-actions no-margin">
                        <button type="submit" class="btn btn-info pull-right hide" id="create_submit">
                            Сохранить
                        </button>
                        <button type="button" class="btn btn-info pull-right" id="create">
                            Сохранить
                        </button>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <div class="hide" id="failure">{{ failure }}</div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/media/theme/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/media/store/js/return.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_date').datepicker({
                format: 'yyyy-mm-dd'
            });
            $.fn.return_({product_len:'{{ products|length }}'});
            $('a').tooltip('hide');
            $('i').tooltip('hide');
        });
    </script>
{% endblock %}
{% block css %}
    <link href="/media/theme/css/datepicker.css" rel="stylesheet">
{% endblock %}