<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/media/theme/css/style.css" rel="stylesheet">
    <link href="/media/theme/css/main.css" rel="stylesheet"> 
    <!-- Important. For Theming change primary-color variable in main.css  -->
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <a href="/" class="logo" data-original-title="">
            <img src="/media/theme/img/logo.png" alt="Logo">
        </a>
        <div class="btn-group">
            <button class="btn btn-primary">
                {% block username %}Ким Паша{% endblock %}            
            </button>
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
              <span class="caret">
              </span>
          </button>
          <ul class="dropdown-menu pull-right">
            <li>
                <a href="#" data-original-title="">
                    Редактировать профиль
                </a>
            </li>
            <li>
                <a href="#" data-original-title="">
                    Настройки аккаунта
                </a>
            </li>
            <li>
                <a href="#" data-original-title="">
                    Выход
                </a>
            </li>
        </ul>
    </div>
    <ul class="mini-nav">
        <li>
            <a href="#" data-original-title="">
                <div class="fs1" aria-hidden="true" data-icon=""></div>
                <span class="info-label badge badge-warning">
                  3
              </span>
          </a>
      </li>
      <li>
        <a href="#" data-original-title="">
            <div class="fs1" aria-hidden="true" data-icon=""></div>
            <span class="info-label badge badge-info">
              5
          </span>
      </a>
  </li>
  <li>
    <a href="#" data-original-title="">
        <div class="fs1" aria-hidden="true" data-icon=""></div>
        <span class="info-label badge badge-success">
          9
      </span>
  </a>
</li>
</ul>
</header>
<div class="container-fluid">
    <div class="dashboard-container">
        <div class="top-nav">
            <ul>
                <li>
                    <a href="#" data-original-title="">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        Склад
                    </a>
                </li>
                <li>
                    <a href="#" data-original-title="">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        Кухня
                    </a>
                </li>
                <li>
                    <a href="#" data-original-title="">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        Продажи
                    </a>
                </li>
                <li>
                    <a href="#" data-original-title="">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        Сотрудники
                    </a>
                </li>
                <li>
                    <a href="#" class="selected" data-original-title="">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        Справочники
                    </a>
                </li>
                <li>
                    <a href="#" data-original-title="">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        Отчеты
                    </a>
                </li>
                <li>
                    <a href="#" data-original-title="">
                        <div class="fs1" aria-hidden="true" data-icon=""></div>
                        Расходы
                    </a>
                </li>
            </ul>
            <div class="clearfix">
            </div>
        </div>
        <div class="sub-nav">
            <ul>                
                <li>
                    <a class="heading" href="#" data-original-title="">
                        Контрагенты
                    </a>
                </li>
                <li>
                    <a href="#" data-original-title="">
                        Товары
                    </a>
                </li>
                <li>
                    <a href="#" data-original-title="">
                        Склады
                    </a>
                </li>
                <li>
                    <a href="#" data-original-title="">
                        Должности
                    </a>
                </li>
            </ul>
        </div>

        <div class="dashboard-wrapper">
            <div class="left-sidebar">
                {% block content %}
                {% endblock %}
                <hr class="hr-stylish-1">
            </div>
        </div>
    </div>
    <!--/.fluid-container-->
</div>
<footer>
    <p>
        © skirt4aser 2013
    </p>
</footer>
<script src="/media/theme/js/jquery.min.js"></script>
<script src="/media/theme/js/bootstrap.js"></script>
{% block js %}{% endblock %}
</body>
</html>